.Projects{
  margin: 5% 7%;
}
.CardContainer{
  margin: 5% 0;
  display: flex;
  flex-direction: row;
  gap: 4%;
}
.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  position: relative;
}
.imageContainer img{
  border-radius: 1rem;
  object-fit: cover;
}
.title{
  font-size: clamp(1.6rem,4vw,4rem);
  font-weight: 800;
}
.tags{
  display: flex;
  width: 100%;
  padding: 2%;
  gap: 3ch;
  flex-wrap: wrap;
}
.tag{
  padding: 1% 2%;
  transition: transform ease-in-out 400ms;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0.4ch;
}
.tag:hover{
  transform: rotate(-15deg);
}
.tag:nth-child(1){
  @apply bg-orange-700;
}
.tag:nth-child(2){
  @apply bg-blue-700;
}
.tag:nth-child(3){
  @apply bg-green-700;
}
.tag:nth-child(4){
  @apply bg-purple-700;
}
.tag:nth-child(5){
  @apply bg-slate-700;
}
.right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4%;
}
.content{
  font-size: clamp(1rem, 2vw,1.4rem);
  text-align: left;
}
.links{
  margin-top: 5%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  color: rgb(25, 128, 188);
}
.github{
  cursor: pointer;
  position: relative;
  border-radius: 0.4ch;
  outline: 2px solid rgb(25, 128, 188);
  padding: 1ch 2ch;
  overflow: hidden;
}
.github::after{
  content: "";
  position: absolute;
  top:-100%;
  left:-90%;
  width: 0%;
  height: 400%;
  background-color: rgb(25, 128, 188);
  transform: rotate(35deg);
  cursor: pointer;
}
.github:hover::after{
  animation: githublinkanimation 800ms infinite;
}
.projectUrl{
  outline: 2px solid rgb(25, 128, 188);
  position: relative;
  padding: 1ch 4ch;
  border-radius: 0.4ch;
  cursor: pointer;
}
.projectUrl::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  outline: 2px solid rgb(25, 128, 188);
  border-radius: 0.4ch;
  top: 0;
  left: 0;
  transition: all 400ms ease-in-out;
}
.projectUrl:hover::after{
  top: -15%;
  left: 10%;
  animation: projlinkanimation 1s ease-in-out infinite;
}
@media (max-width: 940px){
  .CardContainer{
    padding: 3%;
    flex-direction: column !important;
    align-items: center;
  }
  .imageContainer{
    width: 60vw;
  }
}
@media(max-width: 800px){
  .github::after{
    animation: githublinkanimation 800ms infinite;
  }
}
@keyframes githublinkanimation {
  0% {
    left:-90%;
    width: 0%;
  }
  30% {
    left: 0%;
    width: 15%;
  }
  50%{
    left: 40%;
    width: 25%;
  }
  70%{
    left: 80%;
    width: 15%;
  }
  100%{
    left: 100%;
    width: 0%;
  }
}

@keyframes projlinkanimation{
  0%{
    transform: translate(0,0);
  }
  50%{
    transform: translate(-2%,3%);
  }
  100%{
    transform: translate(0,0);
  }
}