.connectItem{
  position: relative;
  height: 3rem;
  width: 4rem;
  cursor: pointer;
  z-index: 1;
  background-color: black;
}
.connectItem img{
  object-fit: contain;
}
.connect{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-right: 20%;
  margin: 6rem 0;
}
.connect::before{
  content: "";
  position: absolute;
  width: 20%;
  left: 10%;
  background-color: rgb(75, 75, 75);
  height: 3px;
}
.res{
  font-size: 1.4rem;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 2rem;
  padding: 0.1ch 2ch;
  cursor: pointer;
  line-height: 200%;
  font-weight: 800;
}
@media (max-width: 800px){
  .connect{
    padding-right: 0;
  }
  .connect::before{
    left: 5%;
  }
}